body {
  background-color: bisque;
}

.relative {
  position: absolute;
  /* background-color: pink; */
  /* padding: 30px; */
  width: 70px;
  height: 100vh;
  top: 0;
  transition: all 0.5s;
  display: flex;
  align-items: center;
}

.relative:hover {
  width: 350px;
}

.absolute {
  position: absolute;
  width: inherit;
  background-color: aquamarine;
  /* transition: all 1s; */
}

.absolute a {
  display: block;
  text-align: center;
  margin: 1rem;
}

.class {
  border-bottom: 1px solid red;
  text-align: center;
}
